.uvLow {
    background-color: green;
}

.uv.Med {
    background-color: yellow;
}

.uv.High{
    background-color: orange;
}


.containerfluid{
margin-top: 2%;margin-left: 2%; margin-right: 2%; margin-bottom: 2%;
}

.submit {
    background-color: blue
    color: white;}

.jumbotron {
    text-align: center;
    background-color: salmon;
    color: black;
    width: 100%;
  }

.list-group {
    width: 100%;
}

.col-sm-4 {
    background-color: cadetblue;
} 

.col-sm-8 {
    background-color: slategray;
    width: 100%;
    height: 200px;
}

.list-group {
    width: 150px;
}

.card-body {
    background-color: salmon;
    height: auto
}
.card-text {
    font-size: small;
    text-align: left;
}