@charset "utf-8";
body {
    background-color: darkcyan;
}
.card{
    background-color: salmon;
    height: auto;
    font-size: 18px;
    text-align: left;
    width: auto;
    padding: 3%;
    color: white;
    align-items: left;
    margin: 1%;
}

.jumbotron {
    text-align: center;
    background-color: navajowhite;
    color: darkcyan;
    width: 100%;
    height: 20px;
    width: 100%;
  }


.list-group {
    width: 100%;
}

.col-sm-4 {
    width: 100%;
    height: auto;
    color: white;
} 

.col-sm-8 {
    width: 100%;
    height: 200px;
    color: white;
}

.col-sm-12 {
    color: darkcyan;
    background-color: navajowhite; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.uvLow {
    background-color: green;
}

.uv.Med {
    background-color: yellow;
}

.uv.High{
    background-color: orange;
}

.cityButtons {
    background-color: pink;
    padding: 2%;
    width: 50%;
   
}